.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 8px 36px;
    }

    &__links {
        display: flex;

        &__item {
            margin: 15px;
        }
    }
}